# Azure Pipeline for React Frontend

trigger:
  branches:
    include:
      - main
      - master
  paths:
    include:
      - frontend/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  workingDirectory: 'frontend'
  nodeVersion: '18.x'

stages:
- stage: Build
  displayName: 'Build React Application'
  jobs:
  - job: BuildJob
    displayName: 'Build and Bundle Frontend'
    steps:
    
    # Step 1: Checkout code
    - checkout: self
      displayName: 'Checkout Repository'
    
    # Step 2: Install Node.js
    - task: NodeTool@0
      displayName: 'Install Node.js $(nodeVersion)'
      inputs:
        versionSpec: '$(nodeVersion)'
    
    # Step 3: Display Node and npm versions
    - script: |
        node --version
        npm --version
      displayName: 'Display Node/npm versions'
      workingDirectory: '$(workingDirectory)'
    
    # Step 4: Install dependencies
    - script: |
        npm install
      displayName: 'npm install'
      workingDirectory: '$(workingDirectory)'
    
    # Step 5: Run build
    - script: |
        npm run build
      displayName: 'npm run build'
      workingDirectory: '$(workingDirectory)'
    
    # Step 6: Copy build files
    - task: CopyFiles@2
      displayName: 'Copy Build Files'
      inputs:
        SourceFolder: '$(workingDirectory)/build'
        Contents: '**'
        TargetFolder: '$(Build.ArtifactStagingDirectory)/frontend'
    
    # Step 7: Publish Artifacts
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Frontend Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)/frontend'
        ArtifactName: 'frontend-build'
        publishLocation: 'Container'

- stage: Test
  displayName: 'Run Tests'
  dependsOn: Build
  jobs:
  - job: TestJob
    displayName: 'Unit Tests'
    steps:
    
    - checkout: self
    
    - task: NodeTool@0
      displayName: 'Install Node.js $(nodeVersion)'
      inputs:
        versionSpec: '$(nodeVersion)'
    
    - script: |
        npm install
      displayName: 'npm install'
      workingDirectory: '$(workingDirectory)'
    
    - script: |
        npm test -- --coverage --watchAll=false
      displayName: 'Run Tests with Coverage'
      workingDirectory: '$(workingDirectory)'
      continueOnError: true
