# Azure Pipeline for Spring Boot Backend

trigger:
  branches:
    include:
      - main
      - master
  paths:
    include:
      - backend/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  mavenPomFile: 'backend/pom.xml'
  buildDirectory: 'backend/target'

stages:
- stage: Build
  displayName: 'Build Spring Boot Application'
  jobs:
  - job: BuildJob
    displayName: 'Build and Test Backend'
    steps:
    
    # Step 1: Checkout code
    - checkout: self
      displayName: 'Checkout Repository'
    
    # Step 2: Set up Java
    - task: JavaToolInstaller@0
      displayName: 'Install Java 17'
      inputs:
        versionSpec: '17'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'
    
    # Step 3: Build with Maven
    - task: Maven@3
      displayName: 'Maven Build'
      inputs:
        mavenPomFile: '$(mavenPomFile)'
        goals: 'clean package'
        options: '-DskipTests=false'
        publishJUnitResults: true
        testResultsFiles: '**/target/surefire-reports/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.17'
        mavenVersionOption: 'Default'
        mavenOptions: '-Xmx3072m'
    
    # Step 4: Copy JAR file
    - task: CopyFiles@2
      displayName: 'Copy JAR Files'
      inputs:
        SourceFolder: '$(buildDirectory)'
        Contents: '**/*.jar'
        TargetFolder: '$(Build.ArtifactStagingDirectory)/backend'
    
    # Step 5: Publish Artifacts
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Backend Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)/backend'
        ArtifactName: 'backend-jar'
        publishLocation: 'Container'

- stage: Test
  displayName: 'Run Tests'
  dependsOn: Build
  jobs:
  - job: TestJob
    displayName: 'Unit Tests'
    steps:
    
    - checkout: self
    
    - task: JavaToolInstaller@0
      displayName: 'Install Java 17'
      inputs:
        versionSpec: '17'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'
    
    - task: Maven@3
      displayName: 'Run Unit Tests'
      inputs:
        mavenPomFile: '$(mavenPomFile)'
        goals: 'test'
        publishJUnitResults: true
        testResultsFiles: '**/target/surefire-reports/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.17'
