name: Backend CI/CD

on:
  workflow_dispatch:
  push:
    branches: [ main, master ]
    paths:
      - 'Employee-Management-System/**'    
  pull_request:
    branches: [ main, master ]
    paths:
      - 'Employee-Management-System/**'    

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    
    - name: Build with Maven
      run: mvn clean package -DskipTests=false
      working-directory: ./  Employee-Management-System  
    
    - name: Run Tests
      run: mvn test
      working-directory: ./ Employee-Management-System  
    
    - name: Upload JAR
      uses: actions/upload-artifact@v4
      with:
        name: backend-jar
        path: Employee-Management-System/target/*.jar    
